<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Materias Del Tecnologico de Antioquia</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <header>
        <h1>Materias de TdeA {{curso}}</h1>
        
        <a href="/">Inicio</a>
        <a href="/crear">Crear Cursos</a>
        <a href="/ver">Ver Cursos</a>
        <a href="/inscribir">Inscribirse a un Curso</a>
        <a href="/verinscritos">Ver Estudiantes Inscritos</a>
    </header>